/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'default';
@reset       : 'default';

/* Elements */
@button      : 'default';
@container   : 'default';
@divider     : 'default';
@flag        : 'default';
@header      : 'default';
@icon        : 'default';
@image       : 'default';
@input       : 'default';
@label       : 'default';
@list        : 'default';
@loader      : 'default';
@placeholder : 'default';
@rail        : 'default';
@reveal      : 'default';
@segment     : 'default';
@step        : 'default';

/* Collections */
@breadcrumb  : 'default';
@form        : 'default';
@grid        : 'default';
@menu        : 'default';
@message     : 'default';
@table       : 'default';

/* Modules */
@accordion   : 'default';
@checkbox    : 'default';
@dimmer      : 'default';
@dropdown    : 'default';
@embed       : 'default';
@modal       : 'default';
@nag         : 'default';
@popup       : 'default';
@progress    : 'default';
@rating      : 'default';
@search      : 'default';
@shape       : 'default';
@sidebar     : 'default';
@sticky      : 'default';
@tab         : 'default';
@transition  : 'default';

/* Views */
@ad          : 'default';
@card        : 'default';
@comment     : 'default';
@feed        : 'default';
@item        : 'default';
@statistic   : 'default';



@datepicker  : 'default';

/* Custom */

@dl_table: 'default';

@id_table: 'default';

@separated: 'default';

@multilingual_tabs: 'default';

@sample: 'default';

@lang_tag: 'default';

@search_link: 'default';

@page_header: 'default';

@page_footer: 'default';

@vocabulary_cf: 'default';


@value_list: 'default';

@section: 'default';

@field_data: 'default';

@field_label: 'default';

@detail_sidebar_header: 'default';

@tree-field: 'default';

@auth_form: 'default';

@signout_button: 'default';

@create_dropdown: 'default';

@menu_burger: 'default';

@inbox: 'default';

@frontpage_header: 'default';

@invenio-header-container: 'default';

@header_menu_item: 'default';

@frontpage_subheader: 'default';

@account_dropdown: 'default';

@frontpage_form: 'default';

@coverpage: 'default';

@histogram_container: 'default';
/* @my_custom_component : 'default'; */
/* the comment above is used by nrp devtools to add new components to the theme. Do not remove it */

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '~semantic-ui-less/themes';

/* Path to site override folder */
@siteFolder  : '../../less';
@imagesFolder : '../../images';


/*******************************
         Import Theme
*******************************/

@import (multiple) "./theme.less";

@fontPath : "../../../themes/@{theme}/assets/fonts";

/* End Config */
