.venv*
__pycache__
__pypackages__
node_modules
*.egg-info
.nrp
.idea
.pdm-build
.vscode
.env
.editable-requirements.txt
.mypy_cache
datarepo_harvested.yaml
lindat_harvested.yaml
lindat_validation.log
validation.log
zenodo_harvested.yaml
zenodo_validation.log
harvest_*.log