from celery.schedules import crontab
from invenio_i18n import lazy_gettext as _
from oarepo import config

# glitchtip for reporting incidents
config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(
    languages=(("cs", _("Czech")),),
)
config.configure_ui(
    code="nmd",
    name=_("National Metadata Directory"),
    subtitle=_("Harvesting metadata of scientific repositories in the Czech Republic"),
    description=_(
        "The National Metadata Directory (NMD) aggregates metadata from Czech research repositories and enables unified searching across datasets with links to original records."
    ),
    keywords=_(
        "national metadata directory, NMD, dataset metadata, research data search, data repositories, metadata aggregator, Czech academic data, research datasets, data discovery platform, eosc-cz, eosc cz, european open science cloud"
    ),
    support_contact="info@eosc.cz",
)
config.configure_stats()
config.configure_cron(
    check_record_availability={
        "task": "riv.tasks.check_availability.check_availability_task",
        "schedule": crontab(minute=0, hour=2),  # Every day at 02:00 UTC
    },
    add_grant_expiration_task={
        "task": "datasets.tasks.add_grant_expiration_task",
        "schedule": crontab(minute=0, hour=10),  # Every day at 10:00 UTC
    },
    expire_grants={
        "task": "datasets.tasks.expire_grants_task",
        "schedule": crontab(minute=10, hour=10),  # Every day at 10:10 UTC
    },
    cleanup_unknown_titles={
        "task": "riv.tasks.cleanup_drafts.cleanup_unknown_titles",
        "schedule": crontab(minute=10, hour=10),  # Every day at 10:10 UTC
    },
)
from datasets.oai.avcr import IdFromDOITransformer
from datasets.oai.catchall import CatchAllReader, CatchAllTransformer
from datasets.oai.lindat import LindatTransformer
from datasets.oai.zenodo import ZenodoReader, ZenodoTransformer
config.configure_datastream_readers(catch_all=CatchAllReader, zenodo=ZenodoReader)
config.configure_datastream_transformers(catch_all=CatchAllTransformer, zenode=ZenodoTransformer,
                        lindat=LindatTransformer, id_from_doi=IdFromDOITransformer)
config.configure_datastream_writers()

import os
from datasets import datasets_model
os.environ["DYLD_FALLBACK_LIBRARY_PATH"] = "/opt/homebrew/lib"
datasets_model.register()

config.configure_einfra_oidc()
# todo: configure_rdm_records; all stuff needed to configure rdm records (citation_styles, side_bar_templates)
config.configure_rdm_records(app_rdm_detail_side_bar_templates = ["manage_menu.html", "invenio_app_rdm/records/details/side_bar/external_resources.html",
    "invenio_app_rdm/records/details/side_bar/keywords_subjects.html",
    "invenio_app_rdm/records/details/side_bar/details.html",
    "invenio_app_rdm/records/details/side_bar/licenses.html",
    "datasets/record_detail/side_bar/citations.html",
    "oarepo_ui/record_detail/side_bar/export.html",
    "invenio_app_rdm/records/details/side_bar/technical_metadata.html",
], permission_policy = datasets_model.PermissionPolicy)
# todo: configure notifications (builders, entity_resovelrs) - i think this is generally done through config in oarepo-requests though?
# todo: configure ui ()
config.configure_jobs()



from invenio_rdm_records.resources.config import (
    RDMGrantGroupAccessResourceConfig,
    RDMGrantUserAccessResourceConfig,
    RDMParentGrantsResourceConfig,
    RDMParentRecordLinksResourceConfig,
    RDMRecordResourceConfig,
)
RDMRecordResourceConfig.routes["record-access-request"] = (
    "/<path:pid_value>/access/request"
)
RDMRecordResourceConfig.routes["access-request-settings"] = "/<path:pid_value>/access"
RDMParentRecordLinksResourceConfig.url_prefix = "/records/<path:pid_value>/access"
RDMParentGrantsResourceConfig.url_prefix = "/records/<path:pid_value>/access"
RDMGrantUserAccessResourceConfig.url_prefix = "/records/<path:pid_value>/access"
RDMGrantGroupAccessResourceConfig.url_prefix = "/records/<path:pid_value>/access"

from oarepo_rdm.resources.records.config import OARepoRDMRecordResourceConfig
from datasets.model import OverriddenRouteResourceConfigMixin
RDM_RECORDS_RESOURCE_CONFIG_CLASS = type("DatasetsRecordsResourceConfig",
                            (OverriddenRouteResourceConfigMixin, OARepoRDMRecordResourceConfig), {})


# todo: move to configure_ui?
from ui.datasets import search_redirect
# Communities not supported in this release
THEME_LOGO = "images/theme-logo.png"
COMMUNITIES_REGISTER_UI_BLUEPRINT = False
THEME_FRONTPAGE_RECORDS_LIST_SEARCH_MORE_ENDPOINT = "/datasets"
SEARCH_UI_SEARCH_VIEW = search_redirect
THEME_SEARCH_ENDPOINT = "/datasets"

# activate traceback with variables
from traceback_with_variables import activate_by_import
OAUTHCLIENT_AUTO_REDIRECT_TO_EXTERNAL_LOGIN = False
# do not allow users to change profile info, we take this from EINFRA
USERPROFILES_READ_ONLY = True
# ROR client id - not used for authentication, just to increase rate limits
ROR_CLIENT_ID = "3764CLXJ4R9GT9L496QSKU2G3ZWVF71A"

from invenio_rdm_records.notifications.builders import GrantUserAccessNotificationBuilder
from invenio_records_resources.references.entity_resolvers.results import ServiceResultResolver
from datasets.records.resolvers import RecordByPIDServiceResultResolver
from invenio_notifications.backends.email import EmailNotificationBackend

NOTIFICATIONS_BUILDERS = {
    # Grant user access
    GrantUserAccessNotificationBuilder.type: GrantUserAccessNotificationBuilder,
}

NOTIFICATIONS_ENTITY_RESOLVERS = [
        ServiceResultResolver(service_id="users", type_key="user"),
        RecordByPIDServiceResultResolver(service_id="datasets", type_key="datasets")
    ]


NOTIFICATIONS_BACKENDS = {
    EmailNotificationBackend.id: EmailNotificationBackend(),
}