oarepo[s3,rdm]==12.2.25
cachetools==6.1.0
ccmm-invenio==0.2.3
deepmerge==2.0
et-xmlfile==2.0.0
flask-babelex==0.9.4
frozendict==2.4.6
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.12.0
langcodes==3.5.0
language-data==1.3.0
marisa-trie==1.2.1
marshmallow-i18n-messages==0.1.0
metsrw==0.6.1
oarepo-communities==5.3.3
oarepo-dashboard==1.0.23
oarepo-doi==1.0.19
oarepo-glitchtip==1.0.1
oarepo-global-search==1.0.44
oarepo-oai-pmh-harvester==5.0.6
oarepo-oidc-einfra==1.1.4
oarepo-requests==2.4.24
oarepo-runtime==1.9.0
oarepo-ui==5.2.83
oarepo-vocabularies==2.2.3
oarepo-workflows==1.1.16
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
orcid==1.0.3
python-dotenv==1.1.0
sentry-sdk==3.0.0a2
sickle==0.7.0
urnparse==0.2.2
whitenoise==6.9.0