oarepo[s3]==12.0.28
cachetools==5.4.0
deepmerge==2.0b0
et-xmlfile==1.1.0
flask-babelex==0.9.4
frozendict==2.4.4
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.9.25
langcodes==3.4.0
langdetect==1.0.9
language-data==1.2.0
marisa-trie==1.2.0
nr-metadata==2.0.35
oarepo-oai-pmh-harvester==4.1.2
oarepo-runtime==1.5.50
oarepo-ui==5.2.4
oarepo-vocabularies==2.0.94
openpyxl==3.1.5
python-dotenv==1.0.1
sickle==0.7.0
whitenoise==6.7.0