{% set svg_files_cs = [
    "EU+MŠMT Barevné.svg",
    "eosc_cz_pos_up.svg",
    "2024_NCIP_LOGA_CS.jpg",
] %}

{% set svg_files_en = [
    "eu_msmt_eng.png",
    "eosc_cz_pos_up.svg",
    "2024_NCIP_NTK_ENG.jpg",
] %}

<footer class="ui page-footer">
  <div id="nr-footer-container">
    {% if current_i18n.language == 'cs' %}
    {% for svg_file in svg_files_cs %}
      <div class="svg-container">
        <img src="{{ url_for('static', filename='images/' + svg_file) }}" alt="{{ svg_file }}" class="ui image">
      </div>
    {% endfor %}
    {% else %}
    {% for svg_file in svg_files_en %}
      <div class="svg-container">
        <img src="{{ url_for('static', filename='images/' + svg_file) }}" alt="{{ svg_file }}" class="ui image">
      </div>
      {%endfor%}
    {% endif %}
     <div id="footer-links">
      <a class="block"  href="mailto:support@repo.cz">Contact</a>
      <a href="https://nrp-cz.github.io/docs" target="_blank">Documentation</a>
    </div>
  </div>
</footer>