{% set svg_files = [
    "EU+MŠMT Barevné.svg",
    "logo-ntk_1_100_cmyk.svg",
    "EOSC_CzechRepublic_Pos_svg.svg",
    "e-INFRA_logo_RGB_lilek.svg",
] %}

<footer class="ui page-footer">
  <div id="nr-footer-container">
    {% for svg_file in svg_files %}
      <div class="svg-container">
        <img src="{{ url_for('static', filename='images/' + svg_file) }}" alt="{{ svg_file }}" class="ui image">
      </div>
    {% endfor %}
     <div id="footer-links">
      <a href="mailto:support@repo.cz">Contact</a>
      <a href="https://nrp-cz.github.io/docs" target="_blank">Documentation</a>
    </div>
  </div>
</footer>