{% set svg_files_cs = [
    "EU+MŠMT Barevné.svg",
    "eosc_cz_pos_up.svg",
    "2024_NCIP_LOGA_CS.jpg",
] %}

{% set svg_files_en = [
    "eu_msmt_eng.png",
    "eosc_cz_pos_up.svg",
    "2024_NCIP_NTK_ENG.jpg",
] %}

<footer class="ui page-footer">
  <div class="ui vertical footer segment">
  <section class="ui center aligned container">
    <section class="publicity-logos ui stackable four column centered grid">
    {% if current_i18n.language == 'cs' %}
    {% for svg_file in svg_files_cs %}
      <div class="svg-container ui column">
        <img src="{{ url_for('static', filename='images/' + svg_file) }}" alt="{{ svg_file }}" class="ui image">
      </div>
    {% endfor %}
    {% else %}
    {% for svg_file in svg_files_en %}
      <div class="svg-container ui column">
        <img src="{{ url_for('static', filename='images/' + svg_file) }}" alt="{{ svg_file }}" class="ui image">
      </div>
      {%endfor%}
    {% endif %}
  </section>
  <section class="ui padded basic centered segment">
    <div id="footer-links ui center aligned padded container">
      <a class="block" href="https://docs.nrp.eosc.cz/" target="_blank">{{ _("Documentation") }}</a>
      <a class="block"  href="mailto:support@narodni-repozitar.cz">{{ _("Contact") }}</a>
    </div>
  </section>
  </div>
</footer>
