{%- extends "header.html" %}

{#- Remove search field from top bar on frontpage #}
{%- block navbar_search %}{% endblock navbar_search%}
{%- block navbar %}
{{ super() }}

{%- block frontpage_search %}
<div id="frontpage-search-bar" class="ui container fluid frontpage-header">
  {%- block bypasslinks %}
  {%- endblock bypasslinks %}

  {%- block top_banner %}
  {%- endblock top_banner %}
  <div class="ui container grid rel-mt-2">
    <div class="row">
      <div class="sixteen wide column center aligned">
        {%- block frontpage_title %}
        <h1 class="ui center aligned header inverted">
          {%- if config.THEME_FRONTPAGE_LOGO %}
          <img class="ui medium image"
            src="{{ url_for('static', filename=config.THEME_LOGO.replace('<language>', current_i18n.language)) }}"
            alt="{{ _(config.THEME_SITENAME) }}" />
          {%- else %}
          {{ _(config.THEME_SITENAME) }}
          {%- endif %}
        </h1>
        <div class="ui label secondary">
          <h2 class="ui header frontpage subtitle medium">{{ _(config.REPOSITORY_DESCRIPTION) }}</h2>
        </div>
      </div>
    </div>
    {%- endblock frontpage_title %}
    {%- block frontpage_form %}
    <div class="row">
      <div class="sixteen wide mobile four wide computer column"></div>
      <div class="sixteen wide mobile eight wide computer column center aligned">
        <form action="{{ url_for('invenio_search_ui.search') }}" class="ui form" role="search">
          <div class="ui fluid big action input">
            <input type="text" name="q" class="form-control" aria-label="{{ _('Search') }}"
              placeholder="{{ _('Search') }}">
            <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}">
              <i class="search icon"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="ui divider hidden"></div>
    {%- endblock frontpage_form %}
  </div>
</div>
{%- endblock frontpage_search %}
{%- endblock -%}