  {% if community %}
    {% set options = [
        {
            "key": "communities",
            "text": _("in") ~ " " ~ _("In this community"),
            "title": _("In this community"),
            "value": url_for("invenio_communities.communities_detail", pid_value=community.slug),
        },
        {
            "key": "datasets",
            "text": _("in") ~ " " ~ _("All dataset records"),
            "title": _("All dataset records"),
            "value": url_for("datasets.search"),
        }]
     %}
    {% else %}
    {% set options = [
              {
                "key": "datasets",
                "title": _("All datasets records"),
                "text": _("in") ~ " " ~ _("All dataset records"),
                "value": url_for("datasets.search")
              }]
      %}
    {% endif %}
    <div class="item p-0 search-bar rel-mr-1">
    <div id="header-search-bar" data-options='{{ options | tojson }}'>
       <form action="{{ url_for('datasets.search') }}" class="ui form" role="search">
        <div class="ui fluid action input">
            <input type="text" name="q" class="form-control" placeholder="{{ _('Search') }}">
            <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}"><i class="search icon"></i></button>
        </div>
        </form>
    </div>
    </div>