{% extends "semantic-ui/invenio_accounts/login_user.html" %}

{%- block page_header %}
  {{ super() }}

  <div class="ui message">
    <div class="header">
      <i class="info circle icon"></i>
      {{ _("Institutional Login") }}
    </div>
    <p>
      {% trans docs_url="https://docs.nrp.eosc.cz/en/docs/end_users/national-metadata-directory/nma-access" %}
        After clicking to sign in via E-INFRA, if you find your institution in the list, please choose it to log in through your institutional account.
        If you don't find your institution, please refer to the <a href="{{ docs_url }}" target="_blank" rel="noopener noreferrer">documentation</a> for more information about login options.
      {% endtrans %}
    </p>
  </div>
{% endblock page_header %}