{%- extends "invenio_theme/frontpage.html" %}

{%- block page_header %}
{% include "header_frontpage.html" %}
{%- endblock page_header %}

{%- block page_body %}

{%- block intro_section %}
{%- endblock intro_section %}

{%- block bypasslinks %}
{%- endblock bypasslinks %}

{%- block top_banner %}
{%- endblock top_banner %}

{%- block grid_section %}
<div class="backdrop">
  <div class="backdrop-filter">
    <div class="content-container">
      {% block main_column %}
      {% block main_column_content %}
      {%- block frontpage_search %}
      {%- block frontpage_title %}
      <div class="ui text container centered">
        <h1 class="ui header">{{ _(config.THEME_SITENAME)|upper }}</h1>
        <div class="ui label pink">
          <h6 class="ui header" style="color: white;">{{ _(config.THEME_FRONTPAGE_TITLE)|upper }}</h6>
        </div>
      </div>
      {%- endblock frontpage_title %}
      {%- block frontpage_form %}
      <div class="row rel-mt-5">
        <div class="sixteen wide mobile eight wide computer column center aligned">
          <form action="{{ url_for('datasets.search') }}" class="ui form" role="search">
            <div class="ui fluid action input search-input">
              <input type="text" name="q" class="form-control" placeholder="{{ _('Search') }}">
              <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}"><i
                  class="search icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row rel-mt-1">
        <div class="sixteen wide mobile eight wide computer column center aligned">
          <a href="{{ url_for('datasets.search') }}" class="right-floated">{{ _('Show all records') }}</a>
        </div>
      </div>
      <hr class="ui divider hidden">
      {%- endblock frontpage_form %}
      {%- endblock frontpage_search %}
      {% endblock main_column_content %}

      {% endblock main_column %}
    </div>
  </div>
</div>
{%- endblock grid_section %}

{%- block bottom_section %}
{%- endblock bottom_section %}

{%- endblock page_body %}