{%- extends "invenio_theme/frontpage.html" %}

{%- block page_header %}
{% include "header_frontpage.html" %}
{%- endblock page_header %}

{%- block page_body %}

{%- block intro_section %}
{%- endblock intro_section %}

{%- block bypasslinks %}
{%- endblock bypasslinks %}

{%- block top_banner %}
{%- endblock top_banner %}

{%- block grid_section %}
<div class="backdrop">
  <div class="backdrop-filter">
    <div class="content-container">
      <div class="sixteen wide column center aligned centered">
      {% block main_column %}
      {% block main_column_content %}
      {%- block frontpage_search %}
      {%- block frontpage_title %}
        <h1 class="ui header frontpage-header">{{ _(config.THEME_SITENAME)|upper }}</h1>
        <h2 class="ui label pink frontpage-subtitle">{{ _(config.THEME_FRONTPAGE_TITLE)|upper }}</h2>
      {%- endblock frontpage_title %}
      {%- block frontpage_form %}
      <div class="row rel-mt-5">
          <form action="{{ url_for('datasets.search') }}" class="ui form" role="search">
            <div id="frontpage-search-input" class="ui fluid action input search-input">
              <input type="text" name="q" class="form-control" placeholder="{{ _('Search') }}">
              <button type="submit" class="ui icon search button" aria-label="{{ _('Search') }}"><i
                  class="search icon"></i>
              </button>
            </div>
          </form>
      </div>
      <div class="row rel-mt-1">
          <a href="{{ url_for('datasets.search') }}" class="right-floated">{{ _('Show all records') }}</a>
      </div>
      {%- endblock frontpage_form %}
      {%- endblock frontpage_search %}
      {% endblock main_column_content %}

      {% endblock main_column %}
    </div>
    </div>
  </div>
</div>
{%- endblock grid_section %}

{%- block bottom_section %}
{%- endblock bottom_section %}

{%- endblock page_body %}