{% extends "invenio_app_rdm/footer.html" %}

{# Available template blocks:

Template inheritance chain:
1. invenio_theme/footer.html (base template):
   - No blocks defined, provides basic footer structure with Invenio branding and language selector

2. invenio_app_rdm/footer.html (extends invenio_theme/footer.html):
   {%- block footer_top %}  # Main footer content container
     {%- block footer_top_left %}  # Left side of footer - About, Get involved, Community sections
     {%- endblock footer_top_left %}
     
     {%- block footer_top_right %}  # Right side of footer
     {%- endblock footer_top_right %}
   {%- endblock footer_top %}

You can override any of these blocks to customize the footer.
#}

{%- block footer_top %}
<div class="ui container footer-top ">
  <div class="ui stackable divided equal height grid rel-pt-2 rel-pr-2 rel-pl-2 app-rdm-footer">
    <div class="four wide column">
      <h5 class="ui inverted header">
        <img class="hero-icon" src="{{ url_for('static', filename='images/frontpage-icon.png') }}" alt="frontpage repository icon" />
        {{ _("NMD") }}
      </h5>
      <p class="ui description">
        <em>
        {% trans link="https://www.eosc.cz/en/about-eosc-cz/" %}
        A part of the <a href="{{link}}">EOSC-CZ</a> project. Collecting metadata from research repositories across the Czech Republic.
        {% endtrans %}
        </em>
      </p>
    </div>
    <div class="five wide column">
      <h5 class="ui inverted header">Resources</h5>
      <div class="ui inverted link list">
        <a href="https://docs.nrp.eosc.cz/en/docs/end_users/national-metadata-directory/national-metadata-directory-introduction" target="_blank" class="item">Docs</a>
        <a href="https://www.eosc.cz/en/about-eosc-cz/" target="_blank" class="item">EOSC-CZ project</a>
        <a href="https://www.eosc.cz/en/about-eosc-cz/faq#NMD" target="_blank" class="item">FAQs</a>

      </div>
    </div>
    <div class="six wide column">
      <h5 class="ui inverted header">
        {{ _("Contact") }}
      </h5>
      <p><a href="mailto:nrp-repo_L3@eosc.cz">Support RT</a></p>
    </div>
  </div>
</div>
{%- endblock footer_top %}
