{% extends "oarepo_ui/frontpage.html" %}
{% set hide_footer_mandatory_publicity = True %}

{%- block page_header %}
    {%- include "header_frontpage.html" %}
{%- endblock page_header %}

{% block grid_section %}
{{ oarepo_records_list() }}
{% endblock grid_section %}

{%- block javascript %}
{{ super() }}
{{ webpack['home_page_search.js'] }}
{%- endblock javascript %}

{%- block bottom_section %}

{% set logo_locale = current_i18n.language %}
{% if logo_locale not in ['cs', 'en'] %}
  {% set logo_locale = 'en' %}
{% endif %}

<section class="brought-to-you-section section-content light-bg rel-pt-3 rel-pb-3">
  <div class="ui container center aligned">
    <div class="ui equal width vertically centered middle aligned container centered grid stackable">
      <div class="seven wide column">
        <a href="https://msmt.gov.cz">
          <img class="collaborators-logo" src="{{ url_for('static', filename='images/eu_msmt_' ~ logo_locale ~ '.png') }}"
                title="{{ _('EU and MINISTRY OF EDUCATION YOUTH AND SPORTS') }}"
                alt="{{ _('EU and MINISTRY OF EDUCATION YOUTH AND SPORTS') }}">
        </a>
      </div>
      <div class="seven wide column">
        <a href="https://www.eosc.cz/en">
          <img class="collaborators-logo" src="{{ url_for('static', filename='images/eosc-logo-barevne_CZ_ENG 1.png') }}"
                title="{{ _('EOSC-CZ project') }}"
                alt="{{ _('EOSC-CZ project') }}">
        </a>
      </div>
    </div>
  </div>
</section>
{%- endblock bottom_section %}

{# Available template blocks (showing closest override point):

Header (from invenio_app_rdm/frontpage.html):
{%- block page_header %}  # Includes invenio_app_rdm/header_frontpage.html
{%- endblock page_header %}

Main Content (from invenio_app_rdm/frontpage.html):
{%- block page_body %}  # Main content container
  {%- block intro_section %}  # Welcome section (shown if show_intro_section is true)
  {%- endblock intro_section %}

  {%- block top_banner %}  # Communities carousel
  {%- endblock top_banner %}

  {%- block grid_section %}  # Main grid layout
    {%- block main_column %}  # Left/main column
      {%- block main_column_content %}  # Records list
      {%- endblock main_column_content %}
    {%- endblock main_column %}

    {%- block side_column %}  # Right/sidebar column
      {%- block side_column_content %}  # Sidebar content
      {%- endblock side_column_content %}
    {%- endblock side_column %}
  {%- endblock grid_section %}

  {%- block bottom_section %}  # Bottom content area
  {%- endblock bottom_section %}
{%- endblock page_body %}

Note: All blocks support {{ super() }} to preserve parent content.
Control intro section visibility with THEME_SHOW_FRONTPAGE_INTRO_SECTION config.
#}
