{%- extends "invenio_app_rdm/header_frontpage.html" %}

{%- block twinfinity_logo %}
{# This is a very first element in .theme.header DOM - we need to position it before everything else #}
<div class="twinfinity-logo"></div>
{%- endblock twinfinity_logo %}


{%- block frontpage_title %}
        <div class="ui center aligned header">
            <img class="ui center hero-icon aligned" src="{{ url_for('static', filename='images/frontpage-icon.png') }}" alt="frontpage repository icon" />
        </div>
        <h1 class="ui center aligned hero header">
            {{ _(config.THEME_FRONTPAGE_TITLE) }}
        </h1>
        <p class="subtitle rel-mb-2">
            {{ _(config.REPOSITORY_SUBTITLE) | upper }}
        </p>
    </div>
</div>
{%- endblock frontpage_title %}

{%- block frontpage_form %}
 <div class="row">
    <div class="sixteen wide mobile four wide computer column"></div>
    <div class="sixteen wide mobile eight wide computer column center aligned">
        <form action="{{ url_for('invenio_search_ui.search') }}" class="ui form" role="search" data-testid="frontpage-search-form">
            <div class="ui fluid big action input">
            <input type="text" name="q" class="form-control" aria-label="{{ _('Search metadata records') }}" placeholder="{{ _('Search metadata records') }}…" data-testid="frontpage-search-input">
            <button type="submit" class="ui icon search button" aria-label="{{ _('Search metadata records') }}" data-testid="frontpage-search-button">
                <i class="search icon"></i>
            </button>
            </div>
        </form>
    </div>
</div>
<div class="row pt-0 rel-mb-10">
   <div class="sixteen wide column center aligned rel-mt-1">
     <p>{{ _("Can't find a dataset? Check or register it using its persistent identifier.") }}</p>
     <a href="{{ url_for('datasets_ui.deposit_create') }}" class="ui big primary import button rel-mt-1 rel-mb-7" data-testid="frontpage-import-record-button">
        <i class="plus circle icon"></i>
        {{ _("Find or Register Dataset") }}
    </a>
   </div>
</div>
{%- endblock frontpage_form %}