{%- extends config.BASE_TEMPLATE %}
{%- set title = _("Registration Successful") %}

{%- block page_body %}
<div class="ui main container centered rel-mt-3">
    <h1 class="ui header">{{ _("Thank you for registering to the National Metadata Directory.") }}</h1>

      <p>{{ _("You can now log in (using the identity you registered with):") }}</p>
      <a class="ui primary button" href="/oauth/login/e-infra/?next=/"><i class="icon sign in"></i>{{ _("Sign in") }}</a>
</div>
{%- endblock page_body %}
